@import "_vars/vars";
@import "_fonts/fonts";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  height: 100%;
  font-family: $default-font;
}

body {
  position: relative;
  overflow-x: hidden;
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: $font-size;
  color: $font-color;
  background-color: $background;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

button {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}
